@model ComputerShop.Web.Models.AdminViewModels.AddNewProductViewModel
@{
    ViewBag.Title = "AddNewProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h3>Dodaj nowy produkt</h3>
                <div class="form-group">
                    <label for="Name">Nazwa</label>
                    <input name="Name" type="text" class="form-control" /><br />
                    <label for="Price">Cena</label>
                    <input name="Price" type="number" min="0.01" max="99999.99" step="0.01" class="form-control" /><br />
                    <label for="ProducentId">Producent</label>
                    <select class="form-control" id="ProducentId" name="ProducentId">
                        @foreach (var item in Model.AllProducents)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select><br />
                    <label for="CategoryId">Kategoria</label>
                    <select class="form-control" id="CategoryId" name="CategoryId">
                        @foreach (var item in Model.AllCategories)
                        {
                            <option value="@item.Id">@item.CategoryName</option>
                        }
                    </select><br />
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>

