@model IEnumerable<ComputerShop.Core.Domain.Group>
@{
    ViewBag.Title = "GroupsPanel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Zarządzanie grupami</h2>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nazwa grupy</th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.GroupName</th>
                            <th>Button</th>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="@Url.Action("AddNewGroup", "Admin")" class="btn btn-primary" role="button">Dodaj nową grupę</a>
        </div>
    </div>
</div>

