
@{
    ViewBag.Title = "AssemblyMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <br />
            <div class="btn-group-vertical">
                <a href="@Url.Action("CreateNewAssembly", "Assembly", new { userId = WebSecurity.CurrentUserId })" class="btn btn-default">Utwórz nową konfigurację</a>
                <a href="#" class="btn btn-default">Pokaż zapisane konfiguracje</a>
            </div>
        </div>
        <div class="col-sm-6">
            Tutaj będą ostatnio dodane konfiguracje
        </div>
    </div>
</div>

