@model ComputerShop.Web.Models.AccountViewModels.UserLoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container">

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2>Zaloguj się</h2>
                    <div class="form-group">
                        <label for="login">Wpisz login* :</label><br />
                        <input name="email" type="email" class="form-control" value="@Model.Email" />
                    </div>                   
                    <div class="form-group">
                        <label for="password">Wpisz hasło* :</label><br />
                        <input name="password" type="password" class="form-control" value="@Model.Password" />
                    </div>
                    <p class="red">* - Pole wymagane</p>
                    <input type="submit" value="Wejdź" class="btn btn-primary" />               
            </div>
        </div>
    }
</div>

